@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root{
    --blue:#2980b9;
    --black:#130f40;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1)
}

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s cubic-bezier(.37,1.14,.26,1.24);
}

*::selection{
    background: #ff3300;
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .7rem;
}

html::-webkit-scrollbar-track{
    background: #fff;
}

html::-webkit-scrollbar-thumb{
    background: var(--blue);
}

.btn{
    height: 4rem;
    width: 14rem;
    background: var(--blue);
    border: none;
    outline: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
    opacity: .7;
}

.heading{
    width: 95%;
    padding-top:7rem;
    margin: 0 auto;
    border-bottom: .2rem solid rgba(0, 0, 0, .3);
}

.heading span{
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    background: var(--blue);
    border-top-right-radius: 3rem;
    display: inline-block;
}

header .header-1, header .header-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    width: 100%;
    z-index: 1000;
}

header .header-1 .logo{
    font-size: 2rem;
    color: #666;
}

header .header-1 .logo i{
    color: var(--blue);
}

header .header-1 .form-container form{
    display: flex;
}

header .header-1 .form-container form #search{
    height: 4rem;
    width: 50rem;
    outline: none;
    border: .2rem solid #666;
    font-size: 1.5rem;
    padding: 0 1rem;
}

header .header-1 .form-container form #search:focus{
    border-color: var(--blue);
}

header .header-1 .form-container form label{
    height: 4rem;
    width: 5rem;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    cursor: pointer;
    background: var(--blue);
    color: #fff;
}

header .header-1 .form-container form label:hover{
    color: var(--black);
}

header .header-2{
    background: var(--blue);
}

header .header-2 .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-2 .navbar ul li{
    margin: 0 1rem;
}

header .header-2 .navbar ul li a{
    font-size: 2rem;
    color: #fff;
}

header .header-2 .navbar ul li a:hover{
    /* color: var(--black); */
    letter-spacing: .2rem;
    color: var(--black);
    opacity: .7;
}

header .header-2 .icons a{
    color: #fff;
    font-size: 2rem;
    padding: 0 1rem;
}

header .header-2 .icons a:hover{
    font-size: 2.5rem;
    color: var(--black);
    opacity: .7;
}

header .header-2 .icons a.fas.fa-heart:hover{
    font-size: 2.5rem;
    color: red;
    opacity: .7;
}

header .header-2 #menu{
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

header .header-2.header-active{
    position: fixed;
    top: 0; left: 0;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
}

.login-form-container{
    position: fixed;
    top: -105%;left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background: rgb(255,255,255,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.login-form-container.active{
    top: 0;
    opacity: 1;
}

.login-form-container form{
    padding: 2rem;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #fff;
    border: .1rem solid rgba(0,0,0,.1);
    text-align: center;
    width: 40rem;
}

.login-form-container form .buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.login-form-container form .buttons .btn{
    padding-top: 5px;
}

.login-form-container form .btn{
    display:block;
    width: 100%;
    margin: .5rem 0;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
}

.login-form-container form h3{
    color: #130f40;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.login-form-container form .box{
    margin: .7rem 0;
    width: 100%;
    text-transform: none;
    color: #130f40;
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
}

.login-form-container form p{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: #666;
}

.login-form-container form p a{
    color: #2980b9;
    text-decoration: underline;
}

.login-form-container #close-login-form{
    padding-left: 185px;
}

.home .home-slider .item{
    position: relative;
}

.home .home-slider .item img{
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.home .home-slider .item .content{
    position: absolute;
    top: 50%; left: 5%;
    transform: translateY(-50%);
}

.home .home-slider .item .content h3{
    color: #fff;
    text-shadow: 0 .3rem .5rem #000;
    font-size: 5rem;
    text-transform: uppercase;
}

.home .home-slider .item .content p{
    color: #fff;
    font-size: 2.5rem;
    padding: 2rem 0;
    width: 50rem;
}

.home .owl-carousel .owl-prev, .home .owl-carousel .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
}

.home .owl-carousel .owl-prev{
    left: 1.3rem;
}

.home .owl-carousel .owl-next{
    right: 1.3rem;
}

.home .owl-carousel .owl-prev span, .home .owl-carousel .owl-next span{
    color: #fff;
    font-size: 7rem;
}

.icons-container{
    padding: 2rem 9%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    background: #eee;
}

.icons-container .icon{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.icons-container .icon i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    border-radius: 50%;
    background: #eee;
    color: var(--blue);
    text-align: center;
}

.icons-container .icon .content h3{
    color: var(--blue);
    font-size: 2.5rem;
}

.icons-container .icon .content p{
    color: var(--light-color);
    font-size: 1.5rem;
}

.icons-container .icon:hover{
    background: var(--blue);
}

.icons-container .icon:hover i{
    color: var(--blue);
}

.icons-container .icon:hover .content h3{
    color: #fff;
}

.icons-container .icon:hover .content p{
    color: #eee;
}



.arrival{
    min-height: 100vh;
}

.arrival .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    width: 85%;
    margin: 0 auto;
}

.arrival .box-container .box{
    flex: 1 1 30rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    overflow: hidden;
    position: relative;
    margin: 1rem 2rem;
}

.arrival .box-container .box .image{
    height: 20rem;
    padding: 2rem;
    text-align: center;
    background: #f0f0f0;
}

.arrival .box-container .box .image img{
    height: 100%;
    object-fit: cover;
}

.arrival .box-container .box .info h3{
     padding: 1rem;
     font-size: 2rem;
     color: var(--blue);
}

.arrival .box-container .box .info .subInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-top: .1rem solid rgba(0, 0, 0, .3);
}

.arrival .box-container .box .info .subInfo .price{
    color: #ff3300;
    font-size: 2rem;
}

.arrival .box-container .box .info .subInfo .price span{
    color: #666;
    font-size: 1.5rem;
    text-decoration: line-through;
}

.arrival .box-container .box .info .subInfo .stars i{
    color: orange;
    font-size: 1.5rem;
}

.arrival .box-container .box .overlay{
    position: absolute;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 20rem;
    background: rgba(0, 0, 0, .3);
    transform: scale(0);
}

.arrival .box-container .box:hover .overlay{
    transform: scale(1);
}

.arrival .box-container .box .overlay a{
    font-size: 2rem;
    padding: 1.5rem 2rem;
    color: #666;
    background: #fff;
    margin: 1rem;
    transform: translateY(-15rem);
    transition-delay: calc(.07s * var(--i));
}

.arrival .box-container .box:hover .overlay a{
    transform: translateY(0rem);
}

.arrival .box-container .box .overlay a:hover{
    color: var(--blue);
}

.featured{
    min-height: 100vh;
    background: linear-gradient(165deg, #fff 50%, var(--blue) 50.1%);
    padding-bottom: 2rem;
}

.featured .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    margin: 3rem auto;
    width: 95%;
    background: #fff;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    border-radius: 1rem;
}

.featured .row .image-container{
    display: flex;
    align-items: center;
}

.featured .row .image-container .big-image img{
    height: 30rem;
    margin: 2rem 0;
    
    filter: drop-shadow(0 .1rem .5rem #000);
}

.featured .row .image-container .small-image{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    margin-left: 6rem;
}

.featured .row .image-container .small-image img{
    height: 6rem;
    padding: .8rem 1.5rem;
    margin: 1rem;
    border: .1rem solid #666;
    cursor: pointer;
}

.featured .row .image-container .small-image img.image-active,
.featured .row .image-container .small-image img:hover{
    border: .2rem solid var(--blue);
}

.featured .row .content{
    padding-left: 6rem;
}

.featured .row .content h3{
    font-size: 4rem;
    color: var(--blue);
}

.featured .row .content .stars i{
    font-size: 2rem;
    color: orange;
    padding: 1rem 0;
}

.featured .row .content .stars span{
    font-size: 2rem;
    color: #666;
}

.featured .row .content p{
    color: #333;
    font-size: 2rem;
    width: 40rem;
    padding: 2rem 0;
}

.featured .row .content .price{
    color: #ff3300;
    font-size: 2rem;
}

.featured .row .content .price span{
    color: #666;
    font-size: 1.5rem;
    text-decoration: line-through;
}

.featured .row .content .btn{
    margin-left: 2rem;
}

.gallery{
    min-height: 100vh;
}

.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem 0;
    list-style-type: none;
}

.gallery .controls .btn{
    text-align: center;
    line-height: 4rem;
    margin: 2rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.gallery .controls .btn.button-active{
    background: #333;
}

.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .image-container .box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    flex: 1 1 30rem;
}

.gallery .image-container .box .image{
    height: 12rem;
    width: 20rem;
    text-align: center;
    padding: 1rem;
    background: #f0f0f0;
}

.gallery .image-container .box .image img{
    height: 100%;
    object-fit: cover;
}

.gallery .image-container .box:hover .image{
    background: #ccc;
}

.gallery .image-container .box .info{
    width: 100%;
}

.gallery .image-container .box .info h3{
    font-size: 2rem;
    color: var(--blue);
    padding: 1rem;
}

.gallery .image-container .box .info .subInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: .1rem solid rgba(0, 0, 0, .3);
    padding: 1rem;
}

.gallery .image-container .box .info .subInfo .price{
    font-size: 2rem;
    color: #ff3300;
}

.gallery .image-container .box .info .subInfo .stars i{
    font-size: 1.5rem;
    color: orange;
}

.deal{
    min-height: 100vh;
}

.banner{
    min-height: 40vh;
}

.deal .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.deal .box-container .box{
    flex: 1 1 40rem;
    height: 25rem;
    margin: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.deal .box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.deal .box-container .box .content{
    position: absolute;
    top: 55%; left: 3rem;
    transform:translateY(-50%);
}

.deal .box-container .box .content h3{
    font-size: 3.5rem;
    color: #fff;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.deal .box-container .box .content p{
    font-size: 2rem;
    color: #fff;
}

.deal .box-container .box .content .btn{
    margin: 1.4rem 0;
}

.deal .box-container .box:hover img{
    transform: scale(1.2) rotate(-5deg);
}

.deal .icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;
}

.deal .icon-container .icons{
    flex: 1 1 25rem;
    padding: 1rem;
    margin: 1rem;
    border: .2rem solid var(--blue);
    text-align: center;
}

.deal .icon-container .icons i{
    color: var(--blue);
    font-size: 4rem;
    padding: 1rem 0;
}

.deal .icon-container .icons h3{
    color: #333;
    font-size: 2rem;
}

.deal .icon-container .icons p{
    color: #666;
    font-size: 1.3rem;
    padding: 1rem 0;
}

.product .box-container{
    padding: 2rem 9%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background: #eee;
}

.product .box-container .box{
    flex: 1 1 30rem;
    text-align: center;
    padding: 2rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.product .box-container .box img{
    height: 20rem;
}

.product .box-container .box .discount{
    position: absolute;
    top: 1rem; left: 1rem;
    background: rgb(206, 230, 245);
    color: var(--green);
    padding: .7rem 1rem;
    font-size: 2rem;
}

.product .box-container .box .icons{
    position: absolute;
    top: .5rem; right: -6rem;
}

.product .box-container .box:hover .icons{
    right: 1rem;
}

.product .box-container .box .icons a{
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: var(--blue);
    background: rgba(0, 0, 0, .05);
    border-radius: 50%;
    margin-top: .7rem;
    padding: 1rem;
    padding-top: 0.1rem;
}

.product .box-container .box .icons a:hover{
    background: var(--blue);
    color: #fff;
}

.product .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
}

.product .box-container .box .stars i{
    padding: 1rem .1rem;
    font-size: 1.3rem;
    color: gold;
}

.product .box-container .box .price{
    font-size: 2rem;
    color: #333;
    padding: .5rem 0;
}

.product .box-container .box .price span{
    font-size: 1.5rem;
    color: #999;
    text-decoration: line-through;
}

.product .box-container .box .quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.product .box-container .box .quantity span{
    padding: 0 .7rem;
    font-size: 1.7rem;
}

.product .box-container .box .quantity input{
    border: .1rem solid rgba(0, 0, 0, .3);
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--black);
    padding: .5rem;
    background: rgba(0, 0, 0, .05);
}

.product .box-container .box .btn{
    width: 100%;
    display: block;
    margin: 10px 0px 0px;
    font-size: 17px;
    padding: 8px 30px;
}

.product .box-container .box .btn:hover{
    background: #eee;
    color: var(--blue);
    font-weight: bold;
    opacity: 10;
}

.contact{
    padding: 2rem 9%;
}

.contact .contact-heading{
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    padding: 1rem;
    font-size: 3.5rem;
    padding-bottom: 2rem;
}

.contact .contact-heading span{
    color: var(--blue);
    text-transform: uppercase;
}

.contact form{
    text-align: center;
    padding: 2rem;
    border: .1rem solid rgba(0, 0, 0, .3);
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input, .contact form textarea{
    padding: 1rem;
    font-size: 1.7rem;
    background: #f7f7f7;
    text-transform: none;
    margin: 1rem 0;
    border: .1rem solid rgba(0, 0, 0, .3);
    width: 49%;
}

.contact form textarea{
    height: 20rem;
    resize: none;
    width: 100%;
}

.contact form .btn{
    width: 18rem;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.newsletter{
    background: linear-gradient(var(--blue),var(--blue)), url(../image/home-slider-img1.jpg) no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 4rem 1rem;
    text-align: center;
}

.newsletter h1{
    color: #fff;
    font-size: 4rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.newsletter p{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.newsletter form{
    height: 5.5rem;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 5rem;
    background: rgba(241, 239, 239, 0.3);
}

.newsletter form input[type="email"]{
    height: 100%;
    width: 60%;
    padding: 0 1rem;
    outline: none;
    border: none;
    background: none;
    color: #fff;
    font-size: 2rem;
    text-transform: none;
}

.newsletter form input[type="submit"]{
    border-radius: 5rem;
}

.footer{
    padding: 2rem 9%;
}

.footer .box-container{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.footer .box-container .box{
    padding: 1rem 0;
    flex: 1 1 25rem;
}

.footer .box-container .box .share a i{
    padding: 0;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--blue);
}

.footer .box-container .box .logo{
    font-size: 2.5rem;
}

.footer .box-container .box .logo span{
    padding-left: 2rem;
    font-size: 2.5rem;
    color: var(--blue);
}

.footer .box-container .box .logo i{
    color: var(--blue);
}

.footer .box-container .box p{
    font-size: 1.3rem;
    color: #666;
    padding: .7rem 0;
}

.footer .box-container .box .links{
    padding: 1rem 0;
}

.footer .box-container .box .links a{
    display: block;
    padding: .5rem 0;
    font-size: 1.4rem;
    color: #333;
}

.footer .box-container .box .links a i{
    color: var(--blue);
}

.footer .box-container .box .links a:hover{
    text-decoration: underline;
    color: var(--green);
}

.footer .credit{
    text-align: center;
    font-size: 2rem;
    color: #666;
    width: 100%;
    margin: 0 auto;
    padding: 1.4rem 0;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span{
    color: var(--blue);
}

/* payment gateway form  start*/


.container{
    position: fixed;
    top: -105%;left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background: rgb(255,255,255,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.container.active{
    top: 0;
    opacity: 1;
}

.container form{
    padding: 20px;
    width: 700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.container form .row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container form .row .col{
    flex: 1 1 250px;
}

.container form .row .col .title{
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.container form .row .col .inputbox{
    margin: 15px 0;
}

.container form .row .col .inputbox span{
    margin-bottom: 10px;
    display: block;
}

.container form .row .col .inputbox input{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.container form .row .col .inputbox input:focus{
    border: 1px solid #000;
}

.container form .row .col .flex{
    display: flex;
    gap: 15px;
}

.container form .row .col .flex .inputbox{
    margin-top: 5px;
}

.container form .row .col .inputbox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

.container #close-payment-form{
    padding-left: 210px;
}

.container form .submit-btn{
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #2980b9;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}

.container form .submit-btn:hover{
    letter-spacing: .2rem;
    opacity: .7;
}

/* payment gateway form  end*/

























/* media queries */

@media (max-width: 768px){

    html{
        font-size: 55%;
    }

    header .header-1 .form-container form #search{
        width: 100%;
    }

    header .header-2 .navbar{
        position: fixed;
        top: -200rem; left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 0 100vh rgba(0, 0, 0, .3);
        z-index: 10000;
    }

    header .header-2 .navbar ul{
        flex-flow: column;
        background: linear-gradient(var(--blue), blueviolet);
        border: .2rem solid #fff;
        box-shadow: 0 .3rem .5rem #000;
        padding: 4rem 0;
        width: 27rem;
    }

    header .header-2 .navbar ul li{
        width: 100%;
        margin: 1rem 0;
        text-align: center;
    }

    header .header-2 .navbar ul li a{
        font-size: 2.5rem;
        display: block;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .header-2 .nav-toggle{
        top: 50%;
        opacity: 1;
    }

    header .header-2 #menu{
        display: block;
    }

}

@media (max-width: 600px){

    html{
        font-size: 50%;
    }

    .home .home-slider .item .content h3{
        font-size: 3rem;
    }

    .home .home-slider .item .content p{
        font-size: 2rem;
        width: auto;
    }

    .feature .row .image-container{
        flex-flow: column;
    }

    .feature .row .image-container .small-image{
        flex-flow: row wrap;
        margin-left: 0;
        padding-bottom: 2rem;
    }

    .feature .row .content{
        padding: 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .3);
    }

    .feature .row .content p{
        width: auto;
    }

    .feature .row .content .btn{
        margin: 2rem;
    }

}

@media (max-width: 400px){

    header .header-1{
        flex-flow: column;
        padding: 1rem;
    }

    header .header-1 .logo{
        padding-bottom: 1.5rem;
    }

}